@import '../../styles/mixins';

.resort_list {
  padding: 36px 24px;
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
}

.column {
  flex-basis: 48%;
}

.resort_link {
  font-weight: 600;
  font-size: 1rem;
  line-height: 2.1875rem;
  color: #11abd8;
  opacity: 0.9;
  margin-right: 40px;
  display: flex;
  align-items: center;

  &:hover {
    text-decoration: underline;
  }
}

.wide_button {
  width: 100%;
  padding: 15px 30px;
  background: #11abd8;
  border-radius: 5px;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.25rem;
  color: #fff;
  border: none;
  display: block;

  &:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
  }
}
