.navbox {
  display: flex;
  justify-content: center;
  height: 75px;

  @media (max-width: 991.98px) {
    height: 60px;
  }
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1320px;

  // @media (min-width: 1400px) {
  //   max-width: 1320px;
  // }

  // @media (min-width: 1200px) {
  //   max-width: 1140px;
  // }

  // @media (min-width: 992px) {
  //   max-width: 960px;
  // }

  // @media (min-width: 768px) {
  //   max-width: 720px;
  // }

  // @media (min-width: 576px) {
  //   max-width: 540px;
  // }
}

.link_group {
  margin-left: 60px;

  @media (max-width: 991.98px) {
    display: none;
  }
}

@mixin menulink() {
  font-size: 1.125rem;
  text-transform: uppercase;
  padding: 0 1.5rem;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    outline-offset: 1px;
  }

  @media (max-width: 1199.98px) {
    font-size: 1rem;
    padding: 0 0.5rem;
  }
}

.menulink {
  @include menulink;
  color: #005889;
}

.menulink_current {
  @include menulink;
  font-weight: 600;
  color: #11abd8;
}

.nav_group {
  display: flex;
  // height: 75px;
  align-items: center;
}

.searchbar {
  display: flex;
  height: 45px;
  border: 1px solid rgba(28, 28, 28, 0.2);
  border-radius: 5px;

  @media (max-width: 991.98px) {
    display: none;
  }

  input {
    padding: 0 1rem;
    border: none;
    height: 45px;
    line-height: 45px;
    appearance: none;
    background: none;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;

    svg {
      fill: #aaa;
      vertical-align: middle;
      height: 1.25rem;
      &:hover {
        fill: #006fac;
      }
    }
  }
}

.lang_pick_spacer {
  margin-left: 39px;
  margin-right: 19px;

  @media (max-width: 991.98px) {
    display: none;
  }
}

.lang_picker {
  display: flex;
  height: 45px;
  border: 1px solid rgba(28, 28, 28, 0.2);
  border-radius: 5px;
  font-size: 0.875rem;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #232323;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    color: #304769;
    text-decoration: underline;
  }

  img {
    vertical-align: middle;
  }

  span {
    padding-left: 0.5rem;
    line-height: 21px;
  }
}

@mixin menu_btn() {
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    fill: #006fac;
  }

  @media (min-width: 992px) {
    display: none;
  }
}

.search_toggle {
  @include menu_btn();

  svg {
    height: 25px;
  }
}

.burger {
  @include menu_btn();

  svg {
    height: 20px;
  }
}
