.navbox {
  height: 75px;
}

.container {
  display: flex;
}

@mixin menulink() {
  font-size: 1.125rem;
  text-transform: uppercase;
  padding: 0 1.5rem;

  &:hover {
    text-decoration: underline;
  }

  &:focus-visible {
    outline-offset: 1px;
  }
}

.menulink {
  @include menulink;
  color: #005889;
}

.menulink_current {
  @include menulink;
  font-weight: 600;
  color: #11abd8;
}

.searchbar {
  display: flex;
  height: 45px;
  border: 1px solid rgba(28, 28, 28, 0.2);
  border-radius: 5px;

  input {
    padding: 0 1rem;
    border: none;
    height: 45px;
    line-height: 45px;
    appearance: none;
    background: none;
  }

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;

    svg {
      fill: #aaa;
      vertical-align: middle;
      height: 1.25rem;
      &:hover {
        fill: #006fac;
      }
    }
  }
}

.lang_picker {
  display: flex;
  height: 45px;
  border: 1px solid rgba(28, 28, 28, 0.2);
  border-radius: 5px;
  font-size: 0.875rem;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #232323;
  cursor: pointer;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &:hover {
    color: #304769;
    text-decoration: underline;
  }

  img {
    vertical-align: middle;
  }

  span {
    padding-left: 0.5rem;
    line-height: 21px;
  }
}
