.navbox {
  height: 75px;
}

.menulink {
  color: #005889;
  font-size: 1.125rem;
  text-transform: uppercase;
  padding: 0 1.5rem;
}

.menulink:hover {
  text-decoration: underline;
}

.menulink:focus-visible {
  outline-offset: 1px;
}

.container {
  display: flex;
}
